.about__me {
  margin-top: $section-margin;

  .about__me__content {
    border: 2px solid $main-color;
    font-family: $main-font-family;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: left;
    font-weight: light;
    position: relative;

    //&::before {
    //  position: absolute;
    //  content: '';
    //  background: $main-color;
    //  width: 700px;
    //  height: 290px;
    //  top: 190px;
    //  right: 150px;
    //}

    .about__me__text {
      font-size: 18px;
      color: $side-text-color;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      width: 500px;
      height: 100%;
    }

    img {
      position: relative;
      z-index: 2;
      padding: 40px;
      width: 300px;
      //height: fit-content;
    }

    @media (max-width: $breakpoint-tablet) {
      img {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-laptop) {
  .about__me {
    width: 100%;

    .about__me__content {
      background: $main-color;

      &::before {
        display: none;
        width: 100%;
        right: 0;
      }

      .about__me__text {

        height: 100%;
      }

      justify-content: center;

      .section__title {
        padding-left: 25px;
        //width: 100%;
      }
    }
  }

}