.contact {
  margin-top: 50px;
  font-size: 20px;

  .form__container {
    height: 100%;

    .form__box {
      text-align: right;
      font-weight: 300;
      width: 100%;
      padding: 100px 0;
      display: flex;
      justify-content: space-around;
      background: $main-color;
      @media (max-width: $breakpoint-tablet) {
        box-sizing: border-box;
        flex-direction: column;
        padding: 0 50px;
        .inputs {
        }
      }


      .form {
        .input {
          position: relative;
          width: 100%;
        }

        .inputs {
          position: relative;
          display: flex;
          //width: 100%;
        }

        .input:first-child {
          padding-right: 10px;
        }
      }

      .form__input {
        font-weight: 300;
        box-sizing: border-box;
        font-family: $main-font-family;
        background: $main-color !important;
        font-size: 20px;;
        background: none;
        margin-top: 40px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $main-text-color;
        -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
        //box-shadow: ;
        width: 100%;
        padding-left: 10px;
        @media (max-width: $breakpoint-phone) {
          font-size: 15px;
        }
      }

      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
      }

      .form__input:focus {
        outline: none;
        -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
      }

      .textarea__box {
        margin-top: 40px;
        position: relative;

        .textarea {
          box-sizing: border-box;
          background: none;
          position: relative;
          //margin: 20px;
          font-size: 15px;
          width: 100%;
          border: 1px solid $main-text-color;
          height: 150px;
          -webkit-border-radius: 0;
          border-radius: 0;
          font-family: $main-font-family;
          padding: 10px;
          color: black;
          resize: none;
        }

        textarea:focus {
          outline: none;
        }
      }

      .contact__options {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $breakpoint-phone) {
          font-size: 15px;
        }

        .social__logos {
          display: flex;
          justify-content: center;

          .brand__logo {
            padding: 20px;
            display: flex;
            width: 100px;
            height: 100px;
            transition: .1s;
            @media (max-width: $breakpoint-phone) {
              margin: 0 -20px;
            }
          }

          .brand__logo:hover {
            transform: scale(1.2);
          }
        }

      }
    }
  }
}

.input__valid {
  font-family: $main-font-family;
  font-weight: 300;
  color: red;
  position: absolute;
  margin: 0;
  font-size: 16px;
  bottom: -20px;
  padding-left: 10px;
}

.message__sent {
  bottom: -30px;
  color: green !important;
  font-size: 30px;
  font-weight: 400;
}

.send__button {
  background: none;
  font-family: $main-font-family;
  border: 1px solid $main-text-color;
  padding: 10px 20px;
  margin-top: 20px;
}
