@import "../global/generic";

.header {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  font-family: $main-font-family;
  color: $main-text-color;
  font-size: 20px;

  .header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    animation: scale1 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -20s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    border-bottom: 2px solid $main-color;

    .title__name {
      white-space: nowrap;
    }

    .title__name__projects {
      font-weight: bold;
      margin: 25px;
      font-size: 30px;
      text-decoration: none;
      font-family: $main-font-family;
      color: $main-text-color;
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 -20px;

      .nav__link {
        position: relative;
        //font-size: $third-font-size;
        padding: 0 20px;
        transition: all .1s ease-in-out;
        animation: scale2 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -20s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      .nav__link__home {
        font-size: 20px;
        text-decoration: none;
        font-family: $main-font-family;
        color: $main-text-color;
      }

      .nav__link:first-child {
        font-size: 0;
        font-weight: 800;
        animation: scale3 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -20s);
        animation-iteration-count: 1;
        animation-fill-mode: both;

      }

      .nav__link:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  @media (max-width: $breakpoint-phone) {
    .nav {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .header {
    width: 100%;
    left: 0;
  }
}

@media (max-width: $breakpoint-laptop) {
  .header {
    border-bottom: 2px solid $main-color;
    background: white;

    .header__container {
      border-bottom: none !important;
      //animation: none;
      margin: 0 50px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    .nav__link:not(:first-child) {
      display: none !important;
    }
  }

}

