.main {
  width: 100%;
  margin-top: 185px;
  display: flex;
  justify-content: center;
  font-size: 70px;
  background: url("../../../public/mainPhotoSmall.jpeg") left/contain no-repeat;
  text-align: right;
  height: 500px;
  color: $side-text-color;
  @media (max-width: $breakpoint-phone) {
    margin: 120px 0 20px 0;

  }
}

@media (max-width: $breakpoint-laptop) {
  .main {
    background: url("../../../public/mainPhoto.jpeg") center/cover no-repeat;
    width: 100%;
    height: 100%;

    .title__container {
      padding: 50px;
      text-shadow: -1px -1px 0px white,
      0px -1px 0px white,
      1px -1px 0px white,
      -1px 0px 0px white,
      1px 0px 0px white,
      -1px 1px 0px white,
      0px 1px 0px white,
      1px 1px 0px white;
      backdrop-filter: blur(3px);
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .title__container {
    font-size: 4vw;
    text-align: center;
    padding: 0;
  }
}
