.main{
  margin-top: 185px;
  display: flex;
  justify-content: center;
  font-size: 70px;
  background: url("../../../public/mainPhoto.jpeg") left/contain no-repeat;
  text-align: right;
  height: 500px;
  color: $side-text-color;
}