
.header__projects {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  font-family: $main-font-family;
  color: $main-text-color;
  font-size: 20px;
  border-bottom: 2px solid $main-color;
  @media (max-width: $breakpoint-phone) {
    justify-content: center;
  }


  .title__name__projects {
    font-weight: bold;
    margin: 25px 0;
    font-size: 30px;
    text-decoration: none;
    font-family: $main-font-family;
    color: $main-text-color;
    animation: scale2 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -5s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    @media (max-width: $breakpoint-phone) {
      display: none;
    }
  }

  .nav__projects {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__link__projects {
      position: relative;
      box-sizing: border-box;
      padding: 0 20px;
      transition: all .1s ease-in-out;
      font-size: 20px;
      text-decoration: none;
      font-family: $main-font-family;
      color: $main-text-color;
      animation: scale2 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -5s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
      @media (max-width: $breakpoint-phone) {
        font-size: 20px;
        animation: none;
        margin: 0;
        padding: 30px 0;
      }
    }

    .nav__link__projects:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@keyframes scale1 {
  to {
    background: white;
    //opacity: 0.5;
    border-bottom: 2px solid $main-color;
    font-size: 10px;
  }
}

@media (max-width: $breakpoint-laptop) {
  .header__projects {
    border-bottom: 2px solid $main-color;
    background: white;

    .title__name__projects {
      margin-left: 50px;
    }

    .nav__link__projects {
      margin-right: 50px;
    }

    .header__container {
      border-bottom: none !important;
      //animation: none;
      margin: 0 50px;
    }
  }
}