.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  text-align: left;
  font-family: $main-font-family;
}

.section__title {
  font-weight: normal;
  color: $main-text-color;
  font-size: $second-font-size;
  @media (max-width: $breakpoint-laptop) {
    padding: 0 40px;
  }
}

@keyframes scale1 {
  to {
    background: white;
    font-size: 10px;
  }
}

@keyframes scale2 {
  to {
    font-size: 10px;
  }
}

@keyframes scale3 {
  to {
    font-size: 10px;
  }
}
