$main-font-family: 'Lato', sans-serif;
$main-text-color: #3751a4;
$side-text-color: #1f1f1f;
$main-color: #ffb617;
$main-font-size: 70px;
$second-font-size: 50px;
$third-font-size: 20px;
$section-margin: 150px;

$breakpoint-tablet: 900px;
$breakpoint-phone: 500px;